.barco{
	text-align: center;
}

h1 {
	text-align: center;
}

.p1{
	font-size: 60px;
}

.texto2{
	font-size: 40px;
}

.p2{
	font-size: 60px;
}

.texto3{
	font-size: 40px;
}

.img{
	text-align: center;
}